.container {
  display: flex;
  height: 100vh;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.containerDark {
  background-color: #111827;
}

.content {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
