.btnDefault {
  /* Reset de estilos */
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.btnFilled,
.btnOutline {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-green-color);
  font-weight: 600;
  font-family: var(--primary-font);
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  border-radius: 12px;
  gap: 8px;
  transition: 0.1s;
}

.btnFilled {
  width: 328px;
  background-color: var(--primary-color);
  height: 2.5rem;
  border-color: transparent;
}

.btnFilled:hover {
  background-color: var(--primary-color-hover);
  cursor: pointer;
}

.btnFilled:disabled,
.btnFilled:disabled:hover {
  background-color: var(--off-white-color);
  color: var(--dark-grey-color);
  cursor: default;
  border: none;
}

.btnOutline {
  width: 100%;
  height: 40px;
  background-color: transparent;
  line-height: 16.8px;
  cursor: pointer;
  border: 1px solid var(--dark-green-color);
  text-transform: none;
}

.btnOutline:hover {
  background-color: var(--secondary-color-hover);
  cursor: pointer;
}

.btnOutline:disabled,
.btnOutline:disabled:hover {
  background-color: transparent;
  border: 1px solid var(--off-white-color);
  color: var(--dark-grey-color);
  cursor: default;
}

.icon {
  min-width: 16px !important;
  min-height: 16px !important;
}
